body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #ff5f40;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #ff5f40;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #ff847c;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #ff5f40;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #a3d2ca;
  position: relative;
  padding-top: 100px;
}

.maxim-img {
  width: 10%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #5eaaa8;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-language-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.project-management-img {
  width: 25%;
  float: left;
}

.btn {
  background: #ff5f40;
  background-image: -webkit-linear-gradient(top, #ff5f40, #ff5f40);
  background-image: -moz-linear-gradient(top, #ff5f40, #ff5f40);
  background-image: -ms-linear-gradient(top, #ff5f40, #ff5f40);
  background-image: -o-linear-gradient(top, #ff5f40, #ff5f40);
  background-image: -webkit-gradient(to bottom, #ff5f40, #ff5f40);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #ff5f40 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #ff847c 1px;
  background: #ff847c;
  background-image: -webkit-linear-gradient(top, #ff847c, #ff847c);
  background-image: -moz-linear-gradient(top, #ff847c, #ff847c);
  background-image: -ms-linear-gradient(top, #ff847c, #ff847c);
  background-image: -o-linear-gradient(top, #ff847c, #ff847c);
  background-image: -webkit-gradient(to bottom, #ff847c, #ff847c);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
